<style>
  .card {
    transition: transform 0.3s;
  }

  .card:hover {
    transform: scale(1.05);
  }
  {% load thumbnail %}
</style>
<div class="container">
  <div class="row">
    {% for post in page_obj %}
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100 border border-3">
        <div class="card-body">
          <h5 class="card-title">{{ post.name }}</h5>
          <h6 class="card-title">{{ post.pub_date }}</h6>
          <p class="card-text">{{ post.text|slice:":50" }}</p>
          {% thumbnail post.image "800x800" crop="center" upscale=False as img %}
          <img src="{{ img.url }}"
               class="card-img-top">
          {% endthumbnail %}
          <a href="{% url 'shells:download_file' post.id %}" class="btn btn-primary">Скачать файл</a>
          {% if request.user.is_authenticated %}
          <a href="{% url 'shells:delete_file' post.id %}" class="btn btn-primary">Удалить файл</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

